{# templates/registration/register.html.twig #}
{% form_theme form 'registration/formTheme.twig' %}



{{ form_start(form) }}   
    {{ form_row(form.name) }}
    {{ form_row(form.username) }}
    {{ form_row(form.password.first) }}
    {{ form_row(form.password.second) }}
	 {{ form_row(form.rol) }}
	 {{ form_row(form.isactive) }}
    <button type="submit">Register!</button>
{{ form_end(form) }}
