<div class="row">
	<div class="col-md-9">
		{{description}} - {{domainname}} [{{ip}}]
	</div>
	<div class="col-md-1">
		{% include "widgets/switch.html.twig" with {"name": "onoffcomputer", "callback":"switchComputer", "checked": checked } %}
	</div>
{% if rol=="ADMIN" %}
   <div class="col-md-1">
		{% include "widgets/switch.html.twig" with {"name": "lockunlockcomputer","callback":"lockComputer","runningclass":"onoffswitch-lock","checked": locked } %}
	</div>
{% endif %}
</div>
<input type="hidden" id="computer_mac" value="{{mac}}"/>
<input type="hidden" id="computer_ip" value="{{ip}}"/>
