{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ parent() }}

	<link rel="stylesheet" href="{{ asset('assets/vendor.css') }}" />
	<link rel="stylesheet" href="{{ asset('assets/css/onoff.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-table.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-table-fine.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-select.css') }}">
	<link rel="stylesheet" href="{{ asset('assets/css/bootstrap-table-filter-row.css') }}">

	<script src="{{ asset('assets/manifest.js') }}"></script>
	<script src="{{ asset('assets/vendor.js') }}"></script>
   <script src="{{ asset('assets/js/twigjs.js') }}"></script>
   <script src="{{ asset('assets/js/utils.js') }}"></script>

	<script src="{{ asset('assets/js/bootstrap-table.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap-table-locale-es.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap-table-resizable.js') }}"></script>
	<script src="https://rawgit.com/wenzhixin/colResizable/master/source/colResizable-1.5.source.js"></script>
	<script src="{{ asset('assets/js/bootstrap-select.js') }}"></script>
	<script src="{{ asset('assets/js/bootstrap-table-filter-row.js') }}"></script>
{% endblock %}

{% block logged %}
	<div id='login_info' data-user='{"id":"{{user.id}}","name":"{{user.name}}","username":"{{user.username}}",
												"rol":{"id":"{{user.rol.id}}","name":"{{user.rol.name}}","rol":"{{user.rol.rol}}"}}' class='logged'>
		<div style="display: inline-block; margin-right: 20px;">{{user.name}}</div>
		<div style="display: inline-block; margin-right: 20px;">{{user.rol.name}}</div>
		<div style="display: inline-block; margin-right: 10px; cursor: pointer;"><i onclick="settings()" class="fa fa-cog"></i></div>
		<div style="display: inline-block; margin-right: 10px; cursor: pointer;"><i onclick="document.location='/logout'" class="fa fa-sign-out"></i></div>
	</div>
{% endblock %}

{% block body %}

<div class="container" style='height: 520px; overflow: auto; font-size: 80%; margin: 0px auto 0px auto;' >
	{% include "widgets/table.html.twig" with 
		{	
			"idtable":"TABLETUNNELS",
			"ajaxurl":"/list/tunnels.json",
			"commandlist":"l_tunnels",
			"checkbox":true,
			"filterControl":false,
			"buttons": [
				{"id":"btn-delete","callback":"delTunnel","txt":"Borrar Túnel","class":"btn btn-danger", "status":"disabled", "icon":"fa fa-times" },
				{"id":"btn-add","txt": "Novo Túnel","class":"btn btn-primary", "callback":"newTunnel", "icon":"fa fa-plus" },
				{"id":"btn-wakeup","txt":"Encender Equipo","class":"btn btn-success","icon":"fa fa-desktop","callback":"wakeUp"},
				{"id":"btn-showstatus","txt":"Comprobar Equipos","class":"btn btn-warning","icon":"fa fa-desktop","callback":"wakeUpAll"},
			],
			"columns": [
				{"field":"description","title":"Descripción","sortable":"true","width":"30%","filterControl":"input"},
				{"field":"destination","title":"Destiño","sortable":"true","width":"25%","filterControl":"select","filterData":'var:{"0":"a","1":"b","2":"c"}'},
				{"field":"dport","title":"Porto","sortable":"true","filterControl":"xxx"},
				{"field":"url","title":"URL de Conexión","width":"18%"},
				{"field":"status","formatter":"statusFormatterTunnel","title":"Túnel","width":"80px"},
				{"field":"computer","formatter":"statusComputerFormatterTunnel","title":"Equipo","width":"80px"},
			],
			"data": tunnels
		}
	%}
</div>

{% endblock %}

{% block javascripts %}

<script>
	__select__content["destport"]={{services|json_encode|raw}};
	__select__content["computers"]={{computers|json_encode|raw}};

	function settings() {
		//$( "#settings" ).toggle("slow");
	{% if user.rol.rol == "ADMIN" %}
		callServer("/list/users","",function(data) {
			var params={"id":"users","select":"null","modalsize":"modal-1024","data": data,"activerol":"{{user.rol.rol}}"};
			openModalTemplate('adminUsersForm',"Administración de Usuarios","_modalbody_users",params);
		});
	{% else %}
		var params=JSON.parse($("#login_info").attr("data-user"));
		params.activerol="{{user.rol.rol}}";
		params.buttons=[{"id":"newuserbtn","class":"btn btn-primary","txt":"Gardar Usuario","callback":"saveUser"}];
		callServer("/list/users","",function(data) {
			openModalTemplate('userUsersForm',"Datos do Usuario","_modalbody_user_form",params);
		});
	{% endif %}
	}

	/* On/Off tunnel
	*/
	function setTunnel(event,sw,id,status) { 
		var $table=$("#TABLETUNNELS"); 
		var row=$(sw).closest("#TABLETUNNELS tr"); 
		var idx=$(row).data("index");
		var data=JSON.parse($table.data("data"));
		data.rows[idx].status=status;
		$table.data("data",JSON.stringify(data));
		callServer("/change/tunnel","id="+id+"&status="+status,reloadTable,"TABLETUNNELS");
		/*var trow=$table.bootstrapTable("getRowByUniqueId",data.rows[idx].id);
		trow.status=status;
		$table.bootstrapTable("updateByUniqueId",data.rows[idx].id,trow);*/
	}

	function clearSelectionsTunnels() {
		$("#TABLETUNNELS").bootstrapTable("uncheckAll");
	}

	function delTunnel(event) {
		var $table=$("#TABLETUNNELS");
		var selections=$table.bootstrapTable("getSelections");
		var params={"tunnels": selections,"onclose":"clearSelectionsTunnels",
						"buttons":[{"id":"deltunnelbtn","class":"btn btn-primary","txt":"Borrar","callback":"delTunnelAction"}] };
		openModalTemplate('deltunnelconfirm','Está vostede seguro?',"_modalbody_deltunnel",params);
		$(event.target).prop('disabled',true);
	}

	function delTunnelAction() {
		var $table=$("#TABLETUNNELS");
		var ids=[];
		$("#_modal_deltunnelconfirm").modal("hide");
		var idx=$table.bootstrapTable("getSelections");
		idx.forEach(function(item,index) {
			ids.push(item.id);
		});
		if (ids.length > 0)	callServer("/delete/tunnel","params="+JSON.stringify(ids),reloadTable,"TABLETUNNELS");
	}


	function newTunnel() {
		var params={"services": __select__content["destport"],"computers": __select__content["computers"],"modalsize":"modal-lg","rol":"{{user.rol.rol}}",
						"buttons":[{"id":"newtunnelbtn","class":"btn btn-primary","txt":"Gardar Túnel","callback":"saveTunnel"}] };
		{% if user.rol.rol == "ADMIN" %}
			params["navfunction"]="yes";
		{% endif %}
		openModalTemplate('service','Novo Túnel',"_modalbody_service",params);
	}

	function wakeUp() {
		callServer("/list/computers.json","",function(data) {
			$("#alertbody").alert("close");
			__select__content["computers"]=data;
			var params={"id":"computers","select":"null","modalsize":"modal-1024","data": __select__content["computers"],"rol":"{{user.rol.rol}}","switch":"off"};
			openModalTemplate('computers','Encendido de Equipos',"_modalbody_computers",params);
		});
	}

	function wakeUpAll() {
		messageAlert("Examinando estado dos equipos...",INFO);
		callServer("/status/computers","",function(data) {
			$("#alertbody").alert("close");

			__select__content["computers"]=data;
			var params={"id":"computers","select":"null","modalsize":"modal-1024","data": __select__content["computers"],"rol":"{{user.rol.rol}}","switch":"on"};
			openModalTemplate('computers','Encendido de Equipos',"_modalbody_computers",params);
		});
	}

	function refreshComputers(callback) {
		//messageAlert("Examinando estado do equipo...",INFO);
		callServer("/list/computers.json","order=asc",function(data) {
			$("#alertbody").alert("close");
			__select__content["computers"]=data;
			callback(data);
		});
	}

	/* On/Off Computer
	*/
	function switchComputer(event,sw,id,running) { 
		if (running == false) {
			messageAlert("No disponemos de la información necesaria para el apagado",WARNING,3000);
			$(sw).prop("checked",true);
			return;
		}
		try {
			var mac=document.getElementById("computer_mac").value;
			if ((mac=="") && (running)) {
				messageAlert("Imposible encender equipo, no disponemos de su dirección MAC",WARNING,3000);
				$(sw).prop("checked",false);
				return;
			}
			$(sw).parent().addClass("onoffswitch-running");
			messageAlert("Encendendo equipo...",INFO);

			callServer("/change/switchcomputer","id="+id+"&status="+running,function(data) {
				$("#alertbody").alert("close");
			});
		} catch(e) {
			messageAlert(e,ERROR);
		}
	}

	function statusFormatterTunnel(value,row,index,field) { 
		var html="{{ include("widgets/switch.html.twig",{"id":"%rowid%", "name": "onofftunnel", "checked":"%status%","callback":"setTunnel"}) | escape("js")}}";
		if (value) html=html.replace(/%status%/g,"checked");
		else 		  html=html.replace(/%status%/g,"");
		return html.replace(/%rowid%/g,row.id);
	}

	function statusComputerFormatterTunnel(value,row,index,field) {
		var html="<button type=\"button\" onclick=\"verifyComputer('"+row.destination+"')\" class=\"btn btn-info\">Verificar</button>";
		return html;
	}

	function verifyComputer(computer) {
		messageAlert("Examinando estado do equipo...",INFO);
		callServer("/status/checkcomputer","computer="+computer,function(data) {
			var r_computer=data.rows[0];

			if (r_computer.running != 0) {
				r_computer.checked="checked";

				if (r_computer.running==1) r_computer.runningclass="onoffswitch-running";
				else if (r_computer.running==3) r_computer.runningclass="onoffswitch-stopping";
			}

			r_computer.modalsize="modal-lg";
			$("#alertbody").alert("close");
			openModalTemplate('statuscomputer','Estado do Equipo',"_modalbody_statuscomputer",r_computer);
		});
	}

	// Save Tunnel
	//
	function saveTunnel() {
		var data=$("#dataAddTunnelForm").serializeJSON();
		$("#_modal_service").modal('hide'); 
		callServer("/save/tunnel","params="+JSON.stringify(data),reloadTable,"TABLETUNNELS");
		$('#dataAddTunnelForm')[0].reset();
	}

_twig_templates["modal"]="templates/widgets/modal.html.twig";
_twig_templates["_modalbody_wakeup"]="templates/modals/wakeup.body.html.twig";
_twig_templates["_modalbody_service"]="templates/modals/service.body.html.twig";
_twig_templates["_modalbody_roles"]="templates/modals/roles.body.html.twig";
_twig_templates["_modalbody_newrol"]="templates/modals/newroles.body.html.twig";
_twig_templates["_modalbody_ports"]="templates/modals/ports.body.html.twig";
_twig_templates["_modalbody_computers"]="templates/modals/computers.body.html.twig";
_twig_templates["_modalbody_newcomputer"]="templates/modals/newcomputer.body.html.twig";
_twig_templates["_modalbody_newservice"]="templates/modals/newservice.body.html.twig";
_twig_templates["_modalbody_ip"]="templates/modals/computers.body.html.twig";
_twig_templates["_modalbody_deltunnel"]="templates/modals/deltunnelconfirm.body.html.twig";
_twig_templates["_modalbody_delcomputer"]="templates/modals/delcomputerconfirm.body.html.twig";
_twig_templates["_modalbody_deluser"]="templates/modals/deluserconfirm.body.html.twig";
_twig_templates["_modalbody_statuscomputer"]="templates/modals/statuscomputer.body.html.twig";
_twig_templates["_modalbody_users"]="templates/modals/users.body.html.twig";
_twig_templates["_modalbody_user_form"]="templates/modals/user.body.html.twig";
_twig_templates["_select_template"]="templates/widgets/select.html.twig";

</script>
{% endblock %}


